*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.banner{
    display: block;
    padding: 10rem;
    margin-bottom: 0.5rem;
    background-color: darkcyan;
}

.header_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
    width: 18rem;
    padding: 1rem;
    margin: 1rem 1rem;
}

.box1{
    background-color: rgb(78, 94, 109);
}
.box2{
    background-color: gray;
}
.box3{
    background-color: green;
}
.box4{
    background-color: salmon;
}
.box5{
    background-color: purple;
}
.box6{
    background-color: yellow;
}